#!/bin/sh

#
# Workflow
#
alias v='vim .'
alias cdc='cd ~/code'
alias cdd='cd ~/dotfiles'
alias cdh='cd ~'
alias lock='/System/Library/CoreServices/"Menu Extras"/User.menu/Contents/Resources/CGSession -suspend'

#
# Tmux
#
alias tmux='TERM=xterm-256color tmux'

#
# Ruby
#
alias bb='rbenv exec bundle install'
alias bc='rbenv exec bundle exec rails console'
alias be='rbenv exec bundle exec'
alias bq='rbenv exec bundle exec sidekiq'
alias br='rbenv exec bundle exec rspec'
alias bs='rbenv exec bundle exec rails server'

#
# Phoenix/Elixir
#
alias eps='mix phoenix.server'

#
# Git
#
alias gh='github .'
alias gcm='git commit -m'
alias gnb='git checkout -b'
alias guc='git reset --soft HEAD~1'

gsq() { git rebase -i HEAD~"$@" }

#
# React Native
#
alias rn='react-native'
alias rios='react-native run-ios'
alias rdroid='react-native run-android'

#
# Ionic
#
alias is='ionic serve'

#
# Work
#
alias tt='cd ~/code/ios/timesheets'
