[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	email = georgedrummond@gmail.com
	name = George Drummond
[push]
	default = current
[merge]
	ff = false
[branch]
	autosetuprebase = always
	autosetupmerge = true
[pull]
	rebase = true
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status
[core]
	editor = vim
	excludesfile = /Users/georgedrummond/.gitignore-global
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
